/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del header */
header {
  position: fixed;
  width: 97vw;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
  }

  .header-right {
    display: flex;
    align-items: center;
  }
}

.logo img {
  height: 50px;
}

.search-bar {
  padding: 6px;
  margin: 0 20px;
  background-color: rgba(122, 122, 122, 0.5);
  width: auto;
  border-radius: 6px;
}

.search-bar input {
  padding: 5px;
  width: 200px;
  border-radius: 6px;
  border: none;
  margin-right: 5px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.user-actions a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

/* Estilos del contenido principal */
main {
  padding: 100px 20px;

  h3 {
    margin: 0;
  }

  hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.product {
  flex: 1 0 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.product img {
  width: 100%;
  height: auto;
}

.product h2 {
  margin-top: 10px;
  font-size: 18px;
}

.product p {
  margin-top: 5px;
  font-size: 14px;
}

.product button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .footer-social {
    display: flex;
    gap: 15px;

    a > img {
      width: 40px;
    }
  }
}

.footer-bottom {
  text-align: center;
}

/* Dropdown */
/* Estilos del botón desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #333;
  color: #fff;
  width: 50px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  border-radius: 6px;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0px;
  top: 50px;

  ul {
    margin: 0;
    padding: 0;
  }
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 0;
}

.dropdown-content a:hover {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 6px;
}

.dropdown:hover .dropbtn {
  background-color: #555;
  border-radius: 6px;
}

.show {
  display: block;
}

/* Navigation */
/* Estilos de la barra de navegación */
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  margin-left: 20px;
}

.navigation ul li:first-child {
  margin-left: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navigation ul li a:hover {
  background-color: rgba(122, 122, 122, 0.5);
}
